<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

{% load static %}
<html lang="en">
<head>

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/media/static/style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
<div><h1>Welcome to Gallery</h1></div>


<hr>
{% block content %}{% endblock %}
{% block footer %}
    <hr>
    <div><p>Thanks for visiting my site.</div>

        <div><a href="{% url 'logout' %}" class="btn-link">Logout</a>

        </div>
    </p>
{% endblock %}
</body>
</html>