<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

{% load static %}
<html lang="en">
<head>

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/media/static/bootstrap.min.css">
    <link rel="stylesheet" href="/media/static/style.css">
</head>
<body>
<div><h1>Welcome to Gallery</h1></div>


<hr>
{% block content %}{% endblock %}
{% block footer %}
    <hr>
    <div><p>Thanks for visiting my site.</div>

        <div><a href="{% url 'logout' %}" class="btn-link">Logout</a>

        </div>
    </p>
{% endblock %}
</body>
</html>