{% extends "base.html" %}
{% block title %}Delete{% endblock %}
{% block content %}
    <form action="" method="post" id="delete_form">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input  class="btn-link" type="submit" value="Confirm"/ >
    </form>
    <input type="button" onclick="history.back()" value="Back" class="btn-link">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>

{% endblock %}