{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
    <div class="text-info">    {{ data.country }}<br>
        {{ data.first_name }}<br>
        {{ data.email }}</div>

    <hr>
    <h3>User's Images</h3>
    {% if messages %}
            <div class="text-capitalize">{% for i in messages %}
                {{ i }}
            {% endfor %}</div>
    {% endif %}<br>
    {% for image in images %}
        <img src="/media/{{ image.url }}"><br>
        <a href="/images/delete/{{ image.id }}">Delete</a>
        <br>
    {% endfor %}
    <hr>
    <a href="{% url 'user_update' %}" class="btn-link">Update user profile</a><br>
    <a href="{% url 'add_image' %}" class="btn-link">Add Image</a><br>
    <a href="{% url 'main' %}" class="btn-link">Back to main</a><br>


{% endblock %}