{% extends "base.html" %}
{% block title %}Upload Image{% endblock %}
{% block content %}
    <form action="{% url 'add_image' %}" method="post" enctype="multipart/form-data" class="form">{% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}

        {{ form.as_p }}
        <input type="submit" value="Upload" class="btn-link"><br>
        <input type="button" onclick="history.back()" value="Back" class="btn-link">
{% endblock %}